<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<import resource="jpaConfig.xml" />

	<context:component-scan base-package="com.shapeup.presentation" />

	<bean id="customerFormValidator" class="com.shapeup.form.validator.CustomerFormValidator" />

	<bean id="userService" class="com.shapeup.service.impl.UserServiceImpl" />
	<bean id="customerService" class="com.shapeup.service.impl.CustomerServiceImpl" />
	<bean id="loginService" class="com.shapeup.service.impl.LoginServiceImpl" />

	<bean id="userDao" class="com.shapeup.persistence.dao.impl.UserDaoImpl" />
	<bean id="customerDao" class="com.shapeup.persistence.dao.impl.CustomerDaoImpl" />


</beans>



